body {
  
}

.header {
  background: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
}

.navbar-text {
  margin-top: 17px;
  margin-bottom: 13px;
}