@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, loginForm: Form[views.formdata.LoginFormData], registrationForm: Form[views.formdata.RegistrationFormData])

@import bootstrap3._

@Main(page, isLoggedIn, userInfo) {
   <div class="container">
     <div class="row">
       <div class="col-md-4 col-md-offset-2">
         @loginform(routes.Application.postLogin(), loginForm("email"), loginForm("password"))
       </div>
       <div class="col-md-4">
         @registrationform(routes.Application.postRegistration(), registrationForm("name"), registrationForm("email"), registrationForm("password"))
       </div>
     </div>
     
     @if(!models.UserInfoDB.adminDefined()) {
       <div class="alert alert-danger">Warning: Admin credentials have not been defined!</div>
     }
   </div>
}
